# Ironhack note - This file is for running in docker compose with prebuilt images
# Use these if you're stuck, or if you want to start slowly migrating from external images into your own.

services:
  vote:
    image: 98jalmeida/voting-app
    ports:
      - "8080:80"
    environment:
      - REDIS_HOST={{ app_ip }}
      - REDIS_PORT=6379


  result:
    image: 98jalmeida/result-app
    ports:
      - "8081:80"
    environment:
      - PG_HOST={{ database_ip }}
      - PORT=80  
      - PG_PORT=5432 
      - PG_USER={{ pg_user }}
      - PG_PASSWORD={{ pg_password }}
      - PG_DATABASE=postgres

