# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive variables
*.tfvars
*.tfvars.json

# Overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config local
.terraformrc
terraform.rc


.aws/*
terraform/aws/"

terraform/aws
terraform/awscliv2.zip

#secrets
ansible/secrets.yml